@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mr+Dafoe&family=Passion+One:wght@400;700;900&family=Playwrite+RO:wght@100..400&family=Poetsen+One&family=Shadows+Into+Light&family=Underdog&display=swap');

:root{
    --font1: "Playwrite RO", cursive;
      --font2: Verdana, Geneva, Tahoma, sans-serif
     
}
*{
    padding: 0px;
    margin: 0px;

}
html, body{
    min-height: 100vh;
    background-color: blanchedalmond;
}
header{
    color: aliceblue;
    background-color: black;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
   font-size: 10vh;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font1);
    padding-top: 5vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: azure;
    color: black;
}
section.imagem{
    color: aliceblue;
    background-color: rgb(31, 29, 29);
}
section.imagem > p{
    padding-left: 5px;
    width: 400px;
    background-color: rgb(55, 54, 54);
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
  text-align: center;
    color: aliceblue;
    background-color: black;
}